{% extends "base.html" %}

{% block title %} Sign Up {% endblock %}

{% block content %}

<h2><center> Sign up page</center></h2>

<form method = 'POST'>
   {{ form.hidden_tag() }}

   <div>
    {%if form.form_errors%}
        {%for error in form.form_errors%}
            <p class ="errors">{{error}}</p>
        {%endfor%}
    {%endif%}
   </div>
    <div>
        {{ form.email.label }}
        {{ form.email() }}
        {% for error in form.email.errors %}
            <p class ="errors">{{error}}</p>
        {% endfor %}
    </div>
        <div>
        {{ form.username.label }}
        {{ form.username() }}
        {% for error in form.username.errors %}
            <p class ="errors">{{error}}</p>
        {% endfor %}
    </div>
        <div>
        {{ form.password.label }}
        {{ form.password() }}
        {% for error in form.password.errors %}
            <p class ="errors">{{error}}</p>
        {% endfor %}
    </div>
        <div>
        {{ form.password_confirm.label }}
        {{ form.password_confirm() }}
        {% for error in form.password_confirm.errors %}
            <p class ="errors">{{error}}</p>
        {% endfor %}
    </div>
    <div>
        {{ form.sign_up() }}
    </div>

</form>

{% endblock %}
